#switch {margin-top: 0px;}

#topPanel {overflow: hidden;line-height: 18px;font-family:Verdana, Î¢ÈíÑÅºÚ, ºÚÌå;}

#topTable td {padding-top: 0px;}

.ui-tabs .ui-tabs-panel {padding: 0px;}

/* ul#css3menu {left: 300px; top: 5px;} */